.MetaTask{
    background-color: hsla(106, 92%, 54%, 0.708);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}
.MetaWarning{
    border: 2px solid red;
    text-align: center;
}

img#HeaderLogo{
    float:inline-start;
}

table,th,td{
    border: 1px solid;
}